__pycache__/
/build/
/.idea/
/cmake-build-debug/
/bazel-*
*.ipynb_checkpoints
*.DS_Store*
attic/multibody/solver_log/

examples/Goldilocks_models/find_models/data/
snopt.out
snopt_find_model.out
*.csv
